:root {
  --primary: #7A4792;
  --secondary: #868484;
  --success: #4C885D;
  --danger: #CB3B33;
  --warning: #F9E15B;
  --info: #60A7F1;
  --light: #F1F1F1;
  --dark: #000000;
  --white: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.breadcrumb-item {
  font-size: 12px;
  font-weight: 600;
}

.dropdownBtn {
  border-right: 1px solid #dee2e6;
  font-weight: 600;
  cursor: pointer;
}

.dropdownBtn i {
  -webkit-text-stroke: 1.5px;
  color: var(--secondary);
}

.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollMenu div {
  display: inline-block;
}

.discountBadge {
  background-color: var(--danger);
  display: inline-block;
  font-size: 20px;
  color: var(--white);
}

.brand {
  font-size: 14px;
  color: var(--dark);
  font-weight: 700;
}

.product-title {
  font-size: 14px;
  color: var(--secondary);
  font-weight: 600;
}

.prev-price {
  font-size: 12px;
  font-weight: 700;
  color: var(--secondary);
}

.current-price {
  font-size: 16px;
  font-weight: 900;
}